body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #005f73;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #0a9396;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

main {
  padding: 30px;
  max-width: 900px;
  text-align: left;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #e4ebec;
}
h2,h4{
  color: #001219;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #001219;
  color: white;
  text-align: center;
  padding: 1px;
  margin-top: 140px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.quiz-container {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.question {
  margin-bottom: 20px;
}

.link-gabarito,
.link-voltar {
  text-align: center;
  margin-top: 30px;
}

.link-gabarito a,
.link-voltar a {
  background-color: #4CAF50;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.link-gabarito a:hover,
.link-voltar a:hover {
  background-color: #388e3c;
}

video {
      width: 640px;
      height: 360px;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }